nav{
    width: 100%;
    height: 65px;
    background-color: #0C356A;
}

.logo-area{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.3%;
    width: 100px;
}

.logo-area img{
    width: 50px;
    margin-top: 5%;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.nav-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.nav-links .home{
    width: 15vw;
    height: 40px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.home-active{
    width: 15vw;
    height: 40px;
    background-color: #FFC436;
    border-radius: 5px;
    color: black;
}

.nav-links .home button{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.nav-links .home-active button{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.nav-links .about{
    width: 15vw;
    height: 40px;
    border: 2px solid white;
    border-radius: 5px;
}

.nav-links .about button{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    color: white;
    background-color: transparent;
    cursor: pointer;
}

.nav-links .about-active{
    width: 15vw;
    height: 40px;
    background-color: #FFC436;
    border-radius: 5px;
    color: black;
}

.nav-links .about-active button{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    color: white;
    background-color: transparent;
    cursor: pointer;
}

.nav-links .caption-link{
    width: 15vw;
    height: 40px;
    border: 2px solid white;
    border-radius: 5px;
}

.nav-links .caption-link button{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    color: white;
    background-color: transparent;
    cursor: pointer;
}

.nav-links .caption-link-active{
    width: 15vw;
    height: 40px;
    background-color: #FFC436;
    border-radius: 5px;
    color: black;
}

.nav-links .caption-link-active button{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    color: white;
    background-color: transparent;
    cursor: pointer;
}

.nav-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.github{
    width: 200px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.github img{
    width: 16px;
    height: 16px;
    margin: 10px;
}

.github button{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.contribute{
    width: 200px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.contribute img{
    width: 16px;
    height: 16px;
    margin: 10px;
}

.contribute button{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.main-stream{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
}

.left-bar{
    width: 50vw;
    height: 70vh;
    border: 2px solid black;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.right-bar{
    width: 40vw;
    height: 70vh;
    border: 2px solid black;
    border-radius: 10px;
}

.right-bar h1{
    text-align: center;
}

.left-bar p{
    margin-top: 20px;
}

.add-yours-caption-btn{
    width: 10vw;
    height: 5vh;
}

.add-yours-caption-btn button{
    width: 100%;
    height: 100%;
    background-color: #0C356A;
    outline: none;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.form-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 999;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 8px;
    width: 30vw;
    height: fit-content;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.caption-id{
    display: flex;
    flex-direction: column;
}

.caption-id input{
    width: 25vw;
    height: 5vh;
    border-radius: 5px;
    cursor: no-drop;
}

.user-avatar{
    display: flex;
    flex-direction: column;
}

.user-avatar input{
    width: 25vw;
    height: 5vh;
    border-radius: 5px;
}

.user-id{
    display: flex;
    flex-direction: column;
}

.user-id input{
    width: 25vw;
    height: 5vh;
    border-radius: 5px;
    cursor: no-drop;
}

.user-name{
    display: flex;
    flex-direction: column;
}

.user-name input{
    width: 25vw;
    height: 5vh;
    border-radius: 5px;
    cursor: no-drop;
}

.caption-here{
    display: flex;
    flex-direction: column;
}

.caption-here input{
    width: 25vw;
    height: 5vh;
    border-radius: 5px;
}

.tags{
    display: flex;
    flex-direction: column;
}

.tags select{
    width: 25vw;
    height: 5vh;
    border-radius: 5px;
}

.submit-btns{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.submit-btn{
    width: 25vw;
    height: 5vh;
    border-radius: 5px;
}

.submit-btn button{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background-color: #0C356A;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.close-btn{
    width: 25vw;
    height: 5vh;
    border-radius: 5px;
}

.close-btn button{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border: 2px solid red;
    background-color: transparent;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

.error{
    width: fit-content;
    height: fit-content;
    color: red;
    text-align: center;
    font-size: small;
}

.captions-area-heading{
    text-align: center;
}

.captions-list-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    width: 95vw;
    height: 80vh;
    margin: 30px;
    overflow: auto;
}

.single-caption-area{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.caption-items-list{
    width: 50vw;
    height: 40vh;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 10px;
}

.caption-items-list .top-area{
    width: 50vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.top-area .user-area-list{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}

.top-area .user-area-list .user-dp-area{
    width: 50px;
    height: 50px;
}

.top-area .user-area-list .user-dp-area img{
    width: 100%;
    border-radius: 50px;
}

.caption-tag-list-area{
    width: 10vw;
    height: 5vh;
    background-color: #0C356A;
    color: white;
    border-radius: 10px;
    text-align: center;
    line-height: 35px;
}

.bottom-area{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
}

.caption-text-here-area{
    width: 300px;
    text-wrap: wrap;
}

.copy-me-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: rgb(223, 223, 223);
    border-radius: 3px;
    cursor: pointer;
}
.copy-me-icon img{
    height: 8px;
    width: 8px;
}

.copy-me-icon p{
    font-size: x-small;
}

.buttons-list-area{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
}

.edit-btn-area{
    width: 100px;
    height: 30px;
    background-color: #0C356A;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn-area img{
    width: 14px;
    height: 14px;
}

.delete-btn-area{
    width: 100px;
    height: 30px;
    background-color: rgb(255, 22, 22);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn-area img{
    width: 14px;
    height: 14px;
}

.login-button-area{
    width: 10vw;
    height: 5vh;
}

.login-button-area button{
    width: 100%;
    height: 100%;
    background-color: #0C356A;
    outline: none;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.userID-generate{
    display: flex;
    flex-direction: column;
}

.userID-generate input{
    width: 25vw;
    height: 5vh;
    border-radius: 5px;
    cursor: no-drop;
}

.username-area{
    display: flex;
    flex-direction: column;
}

.username-area input{
    width: 25vw;
    height: 5vh;
    border-radius: 5px;
}

.logout-button-area{
    width: 10vw;
    height: 5vh;
}

.logout-button-area button{
    width: 100%;
    height: 100%;
    border: 2px solid #0C356A;
    outline: none;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.user-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

@media (max-width: 768px){
    nav{
        height: 230px;
    }
    .logo-area{
        margin-top: 2%;
    }
    .navigation{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .nav-links{
        gap: 10px;
        justify-content: space-around;
    }
    .nav-links .home{
        width: 30vw;
    }
    .nav-links .about{
        width: 30vw;
    }
    .nav-links .caption-link{
        width: 30vw;
    }
    .github{
        width: 40vw;
    }
    .contribute{
        width: 40vw;
    }
    .main-stream{
        flex-direction: column;
        gap: 30px;
    }
    .left-bar{
        width: 80vw;
    }
    .right-bar{
        width: 80vw;
    }
    .form-popup{
        width: 80vw;
        height: 80vh;
    }
    .add-yours-caption-btn{
        width: 40vw;
    }
    .caption-id input{
        width: 65vw;
    }
    .user-name input{
        width: 65vw;
    }
    .user-id input{
        width: 65vw;
    }
    .user-avatar input{
        width: 65vw;
    }
    .caption-here input{
        width: 65vw;
    }
    .tags select{
        width: 65vw;
    }
    .submit-btn{
        width: 65vw;
    }
    .close-btn{
        width: 65vw;
    }
}